{{> main/header }}
<h1>Propriétaire <label class="ui blue left pointing label count-masters">{{masters.size}}</label></h1>


<div class="ui attached message info">
    <i class="info blue icon"></i>
    Ajout rapide de propriétaire
</div>
<form class="ui segment attached" method="post" action="/master/add">
    <div class="ui action input">
        <input placeholder="First Name" type="text" name="firstname">
        <input placeholder="Last Name" type="text" name="lastname">
        <button class="ui right icon button">
            <i class="add icon"></i>
        </button>
    </div>
</form>


<table class="ui table">
    <thead>
    <tr>
        <th>Propriétaire</th>
        <th>Actions</th>
    </tr>
    </thead>
    {{#masters}}
    <tr>
        <td data-label="Propriétaire">{{firstname}} {{lastname}}
            <div class="ui label count-master-dogs ">
                <i class="dog icon"></i> {{dogs.size}}
            </div>
        </td>
        <td data-label="Actions">
            <form style="display:inline" method="post" action="/master/{{id}}/dog">
                <div class="ui action input">
                    <input placeholder="dog name" type="text" name="name">
                    <div class="ui buttons">
                        <button class="ui red button" value="give-up" name="dog-action">Abandonner</button>
                        <div class="or" data-text="ou"></div>
                        <button class="ui positive button" value="add" name="dog-action">Acquérir</button>
                    </div>
                </div>
            </form>
            <form style="display:inline" method="get" action="/master/{{id}}/delete">
                <button class="ui black button delete-master"><i class="skull crossbones icon"></i>Paix à son âme
                </button>
            </form>
        </td>
    </tr>
    {{/masters}}
    {{^masters}}
    <tr>
        <td colspan="2">
            <div class="ui icon warning message">
                <i class="exclamation circle icon"></i>
                <div class="content">
                    <div class="header">
                        Pas de maître
                    </div>
                    <p>Il n'y a pas de maître dans la base de données.</p>
                </div>
            </div>
        </td>
    </tr>
    {{/masters}}
</table>

<h1>Chiens à l'adoption <label class="ui red left pointing label count-dogs">{{dogs.size}}</label></h1>

<table class="ui table">
    <thead>
    <tr>
        <th>Chien</th>
        <th>Actions</th>
    </tr>
    </thead>
    {{#dogs}}
    <tr>
        <td>{{#name}}{{.}}{{/name}}</td>
        <td data-label="Actions">
            <form style="display:inline" method="post" action="/dog/{{#id}}{{.}}{{/id}}/action">
                <div class="ui action input">
                    <select class="ui search dropdown" name="master">
                        {{#masters}}
                        <option value="{{id}}">{{firstname}} {{lastname}}</option>
                        {{/masters}}
                        {{^masters}}
                        <option value="-1">Pas d'adoptant</option>
                        {{/masters}}
                    </select>
                    <button class="ui right icon button" value="adopt" name="dog-action">
                        <i class="add icon"></i>
                    </button>
                </div>
                <div style="display:inline">
                    <button class="ui red icon button" value="remove" name="dog-action">
                        <i class="sign out alternate icon"></i>
                    </button>
                </div>
            </form>
        </td>
    </tr>
    {{/dogs}}
    {{^dogs}}
    <tr>
        <td colspan="2">
            <div class="ui icon positive message">
                <i class="info circle icon"></i>
                <div class="content">
                    <div class="header">
                        Pas de chien
                    </div>
                    <p>Il n'y a pas de chien à l'adoption dans la base de données.</p>
                </div>
            </div>
        </td>
    </tr>
    {{/dogs}}
</table>


{{> main/footer }}